/* Estilos Gerais */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0e0e0; /* Cor de fundo fixa */
}

/* Container de tarefas */
.container {
  background-color: #ffffff; /* Cor fixa para o container */
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), /* Sombra mais intensa */
              0 4px 6px rgba(0, 0, 0, 0.3);  /* Sombra adicional para profundidade */
  border: 1px solid rgba(0, 0, 0, 0.15); /* Borda levemente escura para contraste */
  width: 100%;
  max-width: 600px;
  z-index: 1;
}

/* Título */
.title {
  text-align: center;
  font-size: 28px;
  color: #333; /* Texto escuro */
  margin-bottom: 20px;
}

/* Estilos dos Inputs */
.input-row {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff; /* Input sem transparência */
  color: #000; /* Texto preto */
}

.add-btn {
  padding: 10px 20px;
  background-color: #673ab7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.add-btn:hover {
  background-color: #512da8;
}

/* Lista de tarefas */
.task-list {
  list-style-type: none;
  padding: 0;
  max-height: 300px; /* Altura máxima da lista de tarefas */
  overflow-y: auto;  /* Habilita rolagem vertical quando as tarefas excedem a altura */
  border-top: 1px solid #ccc; /* Borda superior para separar as tarefas */
  margin-top: 20px;
}

.task-list li {
  padding: 15px;
  background-color: #fff; /* Fundo branco nas tarefas */
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), /* Sombra mais intensa */
              0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra adicional para maior profundidade */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000; /* Texto preto para melhor legibilidade */
}

.task-list li .actions {
  display: flex;
  gap: 10px;
}

.task-list button {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.task-list button.edit-btn {
  background-color: #03a9f4;
}

.task-list button:hover {
  opacity: 0.9;
}
